<nav class="navbar navbar-expand-lg navbar-light bg-indigo-600">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/index.html">Academia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/index.html"><i class="fa-solid fa-house"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/pages/admision.html"><i class="fa-solid fa-school-circle-check"></i> Admisión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/pages/cursos.html"><i class="fa-solid fa-book-bookmark"></i> Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/pages/docentes.html"><i class="fa-solid fa-user-tie"></i> Docentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/pages/contacto.html"><i class="fa-solid fa-handshake"></i> Contacto</a>
        </li>
      </ul>
      <div class="d-flex gap-2">
        <div>
          <a class="text-white fs-5" href=""><i class="fa-brands fa-facebook"></i></a> 
        </div>
        <div>
          <a class="text-white fs-5" href=""><i class="fa-brands fa-square-instagram"></i></a> 
        </div>
      </div>
    </div>
  </div>
</nav>