:root {
  --indigo-50: #f3f1ff;
  --indigo-100: #ebe6ff;
  --indigo-200: #d8d0ff;
  --indigo-300: #bcabff;
  --indigo-400: #9b7bff;
  --indigo-500: #7d46ff;
  --indigo-600: #7121ff;
  --indigo-700: #6610f2;
  --indigo-800: #550ccb;
  --indigo-900: #470ca6;
  --indigo-950: #290471;
}

/* Colores de fondo */
.bg-indigo-50 {
  background-color: var(--indigo-50);
}

.bg-indigo-100 {
  background-color: var(--indigo-100);
}

.bg-indigo-200 {
  background-color: var(--indigo-200);
}

.bg-indigo-300 {
  background-color: var(--indigo-300);
}

.bg-indigo-400 {
  background-color: var(--indigo-400);
}

.bg-indigo-500 {
  background-color: var(--indigo-500);
}

.bg-indigo-600 {
  background-color: var(--indigo-600);
}

.bg-indigo-700 {
  background-color: var(--indigo-700);
}

.bg-indigo-800 {
  background-color: var(--indigo-800);
}

.bg-indigo-900 {
  background-color: var(--indigo-900);
}

.bg-indigo-950 {
  background-color: var(--indigo-950);
}


/* Banner */
.banner {
  background: linear-gradient(120deg, #003366, #0055aa);
}

.banner h2 {
  font-size: 2.5em;
  font-weight: bold;
}

.banner p {
  font-size: 1.2em;
}

/* Hero */
.hero-img {
  height: 450px;
  object-fit: cover;
  filter: brightness(70%);
}

.hero-text h1 {
  font-size: 3em;
  font-weight: bold;
}

.hero-text p {
  font-size: 1.2em;
}

/* Cursos */
.courses .card {
  transition: transform 0.3s ease;
}

.courses .card:hover {
  transform: translateY(-5px);
}

/* Testimonios */
.testimonials blockquote {
  font-style: italic;
  margin: 20px auto;
  max-width: 600px;
}

/* Footer */
.footer {
  color: white;
  text-align: center;
  padding: 20px;
}

.footer a {
  color: yellow;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}


/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Clases utilitarias */
.animate-fade {
  animation: fadeIn 2s ease-in-out;
}

.animate-slide {
  animation: slideDown 1.5s ease;
}

.animate-pulse {
  animation: pulse 2s infinite;
}

.animate-up {
  animation: slideUp 1.5s ease;
}

/* Hero */
.hero-img {
  height: 450px;
  object-fit: cover;
  filter: brightness(70%);
}

.hero-text h1 {
  font-size: 3em;
  font-weight: bold;
}

.hero-text p {
  font-size: 1.2em;
}