@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Footer */
.footer {
  background-color: var(--bs-indigo);
  color: white;
  text-align: center;
  padding: 20px;
}

.footer a {
  color: #ffcc00;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.bg-indigo-100{
  background-color: #ebe6ff;
}

.bg-indigo-200{
  background-color: #d8d0ff;
}

.bg-indigo-400{
  background-color: #9b7bff;
  color: white;
}

.bg-indigo-500{
  background-color: #7d46ff;
  color: white;
}

