@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Peralta&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --azul-50: #e8f5ff;
  --azul-100: #d5ecff;
  --azul-200: #b3dbff;
  --azul-300: #85c2ff;
  --azul-400: #569dff;
  --azul-500: #2f77ff;
  --azul-600: #0c4eff;
  --azul-700: #0040ff;
  --azul-800: #063bcd;
  --azul-900: #10399f;
  --azul-950: #0a205c;
}

*{
 font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Color de fondos */
.bg-azul-50{
  background-color: var(--azul-50);
}

.bg-azul-100{
  background-color: var(--azul-100);
}

.bg-azul-200{
  background-color: var(--azul-200);
}

.bg-azul-300{
  background-color: var(--azul-300);
}

.bg-azul-400{
  background-color: var(--azul-400);
}

.bg-azul-500{
  background-color: var(--azul-500);
}

.bg-azul-600{
  background-color: var(--azul-600);
}

.bg-azul-700{
  background-color: var(--azul-700);
}

.bg-azul-800{
  background-color: var(--azul-800);
}

.bg-azul-900{
  background-color: var(--azul-900);
}

.bg-azul-950{
  background-color: var(--azul-950);
}


/* Banner */
.banner {
  background: linear-gradient(120deg, #003366, #0055aa);
}

.banner h2 {
  font-size: 2.5em;
  font-weight: bold;
}

.banner p {
  font-size: 1.2em;
}

/* Hero */
.hero-img {
  height: 450px;
  object-fit: cover;
  filter: brightness(70%);
}

.hero-text h1 {
  font-size: 3em;
  font-weight: bold;
}

.hero-text p {
  font-size: 1.2em;
}

/* Cursos */
.courses .card {
  transition: transform 0.3s ease;
}

.courses .card:hover {
  transform: translateY(-5px);
}

/* Testimonios */
.testimonials blockquote {
  font-style: italic;
  margin: 20px auto;
  max-width: 600px;
}

/* Footer */
.footer {
  color: white;
  text-align: center;
  padding: 20px;
}

.footer a {
  color: #57d4a2;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}


/* Animaciones */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideDown {
  from { transform: translateY(-30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

@keyframes slideUp {
  from { transform: translateY(30px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* Clases utilitarias */
.animate-fade {
  animation: fadeIn 2s ease-in-out;
}

.animate-slide {
  animation: slideDown 1.5s ease;
}

.animate-pulse {
  animation: pulse 2s infinite;
}

.animate-up {
  animation: slideUp 1.5s ease;
}

/* Hero */
.hero-img {
  height: 450px;
  object-fit: cover;
  filter: brightness(70%);
}

.hero-text h1 {
  font-size: 3em;
  font-weight: bold;
}

.hero-text p {
  font-size: 1.2em;
}
